* {
  transition: 0.3s all ease;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(216, 24, 152);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(204, 11, 140, 0.685);
}

.cbg {
  background-image: url("../assets/layered-waves-haikei\ \(1\).svg");
  background-size: cover;
  background-position: center;
}
